@using Eshopy.Models
@model Products

@{
    ViewBag.Title = "Browse Our Products";
}

<div class="product">
    <h3><em>@Model</em> Products</h3>

    <ul id="product-list">
        @foreach (var product in Model.Title)
        {
            <li>
                <a href="@Url.Action("Details",
                    new { id = product.ProductId })">
                    <img alt="@product.Title"
                         src="@product.AlbumArtUrl" />
                    <span>@product.Title</span>
                </a>
            </li>
        }
    </ul>
</div>

